.NavBar-container {
  width: 100%;
  display: inline;
  background-color: #5F4B66;
  top: 0;
  position: fixed;
  overflow: hidden;
}

.NavBar {
  text-align: center;
  border-bottom: 1px, solid, white;
}

.NavLink {
  text-decoration: none;
  float: left;
  color: white;
  padding: 10px;
}

.NavLink:hover {
  background-color: #F6AE2D;
  color: black;
}

.NavLink-home {
  text-decoration: none;
  float: left;
  color: white;
  padding: 10px;
  clear: both;
}

.NavLink-home:hover {
  background-color: #F6AE2D;
  color:black;
}

.chatroom-link {
  float: right;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-right: 30px;
}

.chatroom-link:hover{
  background-color: #F6AE2D;
  color:black;
}

